body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

input[type="text"] {
    margin-bottom: 12px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 12px;
    text-align: left;
    cursor: pointer;
}

th {
    background-color: #f2f2f2;
}

th:hover {
    background-color: #ddd;
}

#pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagination button {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}

#pageInfo {
    margin: 0 10px;
}